/* Centernav 0.1.2 */
@media (max-width: 991.98px) {
  .navbar > .container-fluid {
    position: relative;
  }
  .navbar-toggler {
    position: absolute;
    right: 0;
  }
}
@media (min-width: 768px) {
  .navbar-collapse > .d-flex {
    width: 100%;
    position:relative;
  }
  .navbar-collapse .form-inline {
    position: absolute;
    right: 0;
  }
}